#NetBeans project folder
nbproject/

#Executable file
forcing

#source distributions
forcing-sources.tar.gz
forcing-sources.zip


#Cliquer file
cliquer.c
cliquer.h
cliquerconf.h
graph.c
graph.h
misc.h
reorder.c
reorder.h
set.h

